<html>
  <head>
    <title>{{title}}</title>
    <meta name='robots' content='noindex' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>